# Gizli Bilgiler ve Çevresel Değişkenler
.env
assets/js/config.js

# Geçici Dosyalar
node_modules/
.DS_Store
.cache/
dist/
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Dosyaları
/build/
/public/build/
/dist/

# Diğer
.vercel
Thumbs.db 